In [4]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:97% !important; }</style>"))

# # Session Overview
#### This session is for
 - Who is new to python programming
 - Who wants to know more about python basic
 - Who has some difficulties in reading/interpreting the python codes
 - Who is eager to learn and do python programming when analyze people issues
 
#### Objective
 - Get basic python functionings used in the provided codes
 - Understand the flow of the code based on python foundations
 - Get how to study python later on according to individual need

<hr>

# [Contents]
 - Variable Assignment
 - List
 - Function 
 - Method
 - Package Usage

# # Variable Assignment

In [5]:
3

3

In [6]:
5

5

In [7]:
a = 3

In [8]:
a   # variable

3

In [9]:
b = 5

In [10]:
b   # variable

5

In [11]:
a + b

8

In [12]:
sum_value = a + b

In [13]:
sum_value   # variable

8

In [14]:
a = 4

In [15]:
a

4

In [16]:
b

5

In [17]:
a + b

9

In [18]:
new_sum_value = a + b

In [19]:
new_sum_value

9

#### Re-assignment
 - ex) summation: 1 ~ 10

In [20]:
result = 0

In [21]:
result = result + 1

In [22]:
result

1

In [23]:
result = result + 2

In [24]:
result

3

In [25]:
result = result + 3

In [26]:
result

6

#### using for loop

In [27]:
result = 0
for i in range(1,11):
    result = result + i

In [28]:
result

55

#### operator
 - ex) add 3 for many times

In [29]:
final_value = 0

In [30]:
final_value = final_value + 3

In [31]:
final_value

3

In [32]:
final_value = final_value + 3

In [33]:
final_value

6

In [34]:
final_value = final_value + 3

In [35]:
final_value

9

In [36]:
final_value += 3

In [37]:
final_value

12

In [38]:
final_value += 3

In [39]:
final_value

15

#### plus alpha

In [40]:
a = 10

In [41]:
a

10

In [42]:
a -= 2

In [43]:
a

8

In [44]:
a *= 3

In [45]:
a

24

In [46]:
a /= 4

In [47]:
a

6.0

#### assign multiple values at one time

In [48]:
a = 3

In [49]:
a

3

In [50]:
b = 4

In [51]:
b

4

In [52]:
a, b = 3, 4

In [53]:
a

3

In [54]:
b

4

In [55]:
c, d = 5, 6

In [56]:
c

5

In [57]:
d

6

In [58]:
e, f, g, h = 7, 8, 9, 10

In [59]:
e

7

In [60]:
f

8

In [61]:
g

9

In [62]:
h

10

# # List
 - Most important and frequently used data type
 - one kind of sequence data type
   - Sequence Data Type: List, Tuple, String, etc.
 - '[  ]' >> a square bracket
 - We will learn another important concept **<span style='color:red'>'indexing'** and **<span style='color:red'>'slicing'** using the list data type object.

#### list example

In [63]:
li = ['China', 'USA', 'South_Korea', 'Singapore']   # population desc...
li

['China', 'USA', 'South_Korea', 'Singapore']

#### Indexing
 - <span style='color:red'>**starts from 0, not from 1**</span>
 - to get one value we want
 - we can use 'square bracket' to index list

In [64]:
li[0]

'China'

In [65]:
li[1]

'USA'

In [66]:
li[2]

'South_Korea'

In [67]:
li[3]

'Singapore'

In [68]:
# li[4]   # Error

#### Slicing
 - <span style='color:red'>**starts from 0, not from 1**</span>
 - to get values partially from the object
 - we can use 'square bracket' and 'colon symbol' to slice the list object

In [69]:
li   # index: 0, 1, 2, 3

['China', 'USA', 'South_Korea', 'Singapore']

In [70]:
li[0:3]   # slice values with index 0, 1, and 2    # not up to index '3'

['China', 'USA', 'South_Korea']

In [71]:
li[0:2]   # slice values with index 0 and 1

['China', 'USA']

In [72]:
li[1:4]   # slice values with index 1, 2, and 3

['USA', 'South_Korea', 'Singapore']

In [73]:
li[2:]    # from 2 index to 'the last element'

['South_Korea', 'Singapore']

In [74]:
li[1:]   # from 1 index to 'the last element'

['USA', 'South_Korea', 'Singapore']

In [75]:
li[:2]   # from 'the first element' to 2 index

['China', 'USA']

In [76]:
li[:3]   # from 'the first element' to 3 index

['China', 'USA', 'South_Korea']

In [77]:
li[:]   # from 'the first element' to 'the last element'

['China', 'USA', 'South_Korea', 'Singapore']

#### Intermediate
 - list comprehension
   - Needs: better productivity & code more concisely

In [78]:
for i in range(1,10):
    print(i, end= '  ')

1  2  3  4  5  6  7  8  9

In [79]:
li = []
for num in range(10):
    li.append(num)

In [80]:
li

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [81]:
[num for num in range(10)]   # list comprehension

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [82]:
li_final = []
for num_li in [[1,2,3], [4,5,6], [7,8,9]]:
    li = []
    for x in num_li:
        li.append(x**2)
    li_final.append(li)
        
li_final

[[1, 4, 9], [16, 25, 36], [49, 64, 81]]

In [83]:
[[x**2 for x in num] for num in [[1,2,3], [4,5,6], [7,8,9]]]   # nested comprehension

[[1, 4, 9], [16, 25, 36], [49, 64, 81]]

##### >> Later, we will see how we can index and slice the DataFrame.

# # Function

 - word with parentheses: '( )'
 - Input & Output     
     - input value: yes or no
     - output value: yes or no
     - Usually, 
       - input value: yes
       - output value: yes
 - attribute

#### ( ) & Input/Output

In [84]:
print(3)

3

In [85]:
print('hi')

hi

In [86]:
sum([3, 5, 7])

15

\>> Function has input and output values.

#### parameter

In [87]:
print('hi', 'everyone', 'cool')

hi everyone cool

In [88]:
print('hi','everyone', 'cool', sep = ' ')

hi everyone cool

In [89]:
print('hi','everyone', 'cool', sep = '&')

hi&everyone&cool

In [90]:
print('hi','everyone', 'cool', sep = '//')

hi//everyone//cool

#### another parameter of print( ): 'end'

In [91]:
print('I know python is not easy')
print('But do not worry too much')
print('cz there are alternatives')

I know python is not easy
But do not worry too much
cz there are alternatives

In [92]:
print('I know python is not easy', end = '\n')
print('But do not worry too much', end = '\n')
print('cz there are alternatives', end = '\n')

I know python is not easy
But do not worry too much
cz there are alternatives

In [93]:
print('I know python is not easy', end = '&&&')
print('But do not worry too much', end = '&&&')
print('cz there are alternatives', end = '&&&')

I know python is not easy&&&But do not worry too much&&&cz there are alternatives&&&

In [94]:
print('I know python is not easy', end = '   ')
print('But do not worry too much', end = '   ')
print('cz there are alternatives', end = '   ')

I know python is not easy   But do not worry too much   cz there are alternatives

\>> There are a lot of functions and parameters accordingly

#### it is defined somewhere...

In [95]:
# def print(a):  
#     # ...
#     # print the input value
#     # ...

In [96]:
# def sum(a, b, c):
#     # ...
#     # sum all the input values
#     # ...

In [97]:
def two_times(a):
    result = a * 2
    return result

In [98]:
two_times(3)

6

In [99]:
two_times(7)

14

\>> We can define functions and some are already defined(= built-in) so that we can use it without installation or loading.

#### function returning multiple values

In [100]:
def sum_func(a, b):
    result = a + b
    return result, a, b

In [101]:
sum_func(7, 8)   # multiple output / multiple return values

(15, 7, 8)

In [102]:
a, b, c = sum_func(7, 8)

In [103]:
a

15

In [104]:
b

7

In [105]:
c

8

#### Back to...
 - " X_train, X_test, y_train,y_test = train_test_split(X, y, train_size = perc) "

In [106]:
# X_train, X_test, y_train, y_test = train_test_split(X_std, y, train_size = trainPerc)

\>> Using train_test_split( ) function, we have 4 output values.  
\>> We assign those 4 output values to 4 variables(X_train, X_test, y_train, y_test)

# # Method
 - function that works associated with particular data type

In [107]:
li = [1, 2, 3, 4, 5]

In [108]:
li

[1, 2, 3, 4, 5]

In [109]:
li.append(77)   # method of 'list data type'

In [110]:
li

[1, 2, 3, 4, 5, 77]

In [111]:
type(li)

list

In [112]:
import pandas as pd
df = pd.DataFrame({'col_a':[1,2,3], 'col_b':[4,5,6]})
df

   col_a  col_b
0      1      4
1      2      5
2      3      6

In [113]:
df.sum()

col_a     6
col_b    15
dtype: int64

In [114]:
df.isnull()

   col_a  col_b
0  False  False
1  False  False
2  False  False

#### Method Chaining
 - a technique that is used for making multiple method calls on the same object, using the object reference just once
 - object.method( ).method( ).method( )

In [115]:
df

   col_a  col_b
0      1      4
1      2      5
2      3      6

In [116]:
df.isnull()

   col_a  col_b
0  False  False
1  False  False
2  False  False

In [117]:
result = df.isnull()
result

   col_a  col_b
0  False  False
1  False  False
2  False  False

In [118]:
type(result)

pandas.core.frame.DataFrame

In [119]:
result.sum()

col_a    0
col_b    0
dtype: int64

#### step.1

In [120]:
df

   col_a  col_b
0      1      4
1      2      5
2      3      6

#### step.2

In [121]:
df.isnull()

   col_a  col_b
0  False  False
1  False  False
2  False  False

#### step.3

In [122]:
df.isnull().sum()   # method chaining

col_a    0
col_b    0
dtype: int64

# # Package Usage

#### Different ways to import LinearRegression( ) function
 - sklearn.linear_model.LinearRegression()
 - sklearn >> linear_model >> LinearRegression()
 - sklearn: module (o)
 - linear_model: module (o)
 - LinearRegression: module (x) >> It is a function.

#### import

In [123]:
# Works: sklearn.linear_model module
import sklearn.linear_model 
lr3 = sklearn.linear_model.LinearRegression()
lr3

LinearRegression()

#### from ... import ...

In [124]:
# Works: from module import module
from sklearn import linear_model
lr5 = linear_model.LinearRegression()
lr5

LinearRegression()

In [125]:
# Works: from module import function
from sklearn.linear_model import LinearRegression
lr6 = LinearRegression()
lr6

LinearRegression()

#### summary

In [126]:
# Works: sklearn.linear_model module
import sklearn.linear_model 
lr3 = sklearn.linear_model.LinearRegression()

# Works: from module import module
from sklearn import linear_model
lr5 = linear_model.LinearRegression()

# Works: from module import function
from sklearn.linear_model import LinearRegression
lr6 = LinearRegression()

#### #### *by. Donghwan Kim at National University of Singapore / Session for MSc. in HCMA students / Mar.2022 (E.O.D.)*